In [11]:
import pandas as pd
from utils import create_mmsi_dict_from_file

In [13]:
file_name = "data/mmsi_type.txt"
mmsi_map = create_mmsi_dict_from_file(file_name)


if mmsi_map:
    print("--- Successfully created dictionary ---")

--- Successfully created dictionary ---

In [ ]:
df = pd.read_csv("data/ais_combined.csv")
df.head()

,MMSI,SOG,COG,Longtitude,Latitude,Timestamp,Segment
0,200000000,6.739216,90.1,11.591552,56.123522,2025-02-27 00:00:05,0
1,200000000,6.739216,90.0,11.591770,56.123522,2025-02-27 00:00:06,0
2,200000000,6.739216,90.0,11.591770,56.123522,2025-02-27 00:00:07,0
3,200000000,6.739216,89.8,11.592530,56.123518,2025-02-27 00:00:13,0
4,200000000,6.739216,89.7,11.592637,56.123518,2025-02-27 00:00:14,0

In [18]:
df_with_types = df.copy()
df_with_types['Type'] = df_with_types['MMSI'].astype(str).map(mmsi_map)
df_with_types.head()

,MMSI,SOG,COG,Longtitude,Latitude,Timestamp,Segment,Type
0,200000000,6.739216,90.1,11.591552,56.123522,2025-02-27 00:00:05,0,Tanker
1,200000000,6.739216,90.0,11.591770,56.123522,2025-02-27 00:00:06,0,Tanker
2,200000000,6.739216,90.0,11.591770,56.123522,2025-02-27 00:00:07,0,Tanker
3,200000000,6.739216,89.8,11.592530,56.123518,2025-02-27 00:00:13,0,Tanker
4,200000000,6.739216,89.7,11.592637,56.123518,2025-02-27 00:00:14,0,Tanker

In [20]:
unique_mmsi = df['MMSI'].unique()
unique_types = df_with_types['Type'].unique()

print("Total unique MMSI count:", len(unique_mmsi))
print("Unique ship types in dataset:", unique_types)

Total unique MMSI count: 991
Unique ship types in dataset: ['Tanker' 'Unknown' 'Sailing vessel' 'Other type' 'Cargo ship'
 'Passenger ship' 'Tanker (HAZ-D)' 'Tanker (HAZ-A)' 'Cargo ship (HAZ-A)'
 'Tanker (HAZ-B)' 'Fishing vessel' 'Law enforcment' 'Pilot' 'Military ops'
 'Dredging or UW ops' 'Tug' 'Anti-polution' 'HSC' 'SAR'
 'Ship type not found' 'Pleasure craft' 'Towing vessel' 'Port tender'
 'Diving ops' 'Cargo ship (HAZ-D)' 'Passenger ship (HAZ-A)'
 'Other type (HAZ-A)' 'Other type (HAZ-B)' 'Cargo ship (HAZ-B)'
 'Tanker (HAZ-C)']

In [36]:
allowed_type = ['Cargo ship', 'Cargo ship (HAZ-A)', 'Cargo ship (HAZ-B)']
df_cargo = df_with_types[df_with_types['Type'].isin(allowed_type)]
df_cargo = df_cargo.drop(["Type"], axis=1)
df_cargo.tail()

,MMSI,SOG,COG,Longtitude,Latitude,Timestamp,Segment
5242590,258648000,4.629996,185.4,10.730742,57.426540,2025-02-27 12:18:58,1
5242591,258648000,4.629996,185.7,10.730658,57.426120,2025-02-27 12:19:09,1
5242592,258648000,4.629996,185.8,10.730495,57.425247,2025-02-27 12:19:30,1
5242593,258648000,4.629996,185.5,10.730422,57.424787,2025-02-27 12:19:40,1
5242594,258648000,4.629996,185.1,10.730363,57.424413,2025-02-27 12:19:49,1

In [32]:
print(df[df['MMSI'] == 211224320])

             MMSI  SOG  COG  Longtitude   Latitude            Timestamp  \
271572  211224320  0.0  NaN    8.381178  54.631888  2025-02-27 00:01:22
271573  211224320  0.0  NaN    8.381178  54.631888  2025-02-27 00:01:35
271574  211224320  0.0  NaN    8.381192  54.631900  2025-02-27 00:04:21
271575  211224320  0.0  NaN    8.381192  54.631900  2025-02-27 00:07:35
271576  211224320  0.0  NaN    8.381172  54.631900  2025-02-27 00:10:24
...           ...  ...  ...         ...        ...                  ...
273990  211224320  0.0  NaN    8.381183  54.631918  2025-02-27 23:49:41
273991  211224320  0.0  NaN    8.381183  54.631900  2025-02-27 23:50:30
273992  211224320  0.0  NaN    8.381183  54.631900  2025-02-27 23:55:41
273993  211224320  0.0  NaN    8.381183  54.631912  2025-02-27 23:56:34
273994  211224320  0.0  NaN    8.381187  54.631903  2025-02-27 23:59:30

        Segment
271572        0
271573        0
271574        0
271575        0
271576        0
...         ...
273990        0
273991        0
273992        0
273993        0
273994        0

[2423 rows x 7 columns]